
/09-HTTP and AJAX-Exercise/03.Phonebook/node_modules
/09-HTTP and AJAX-Exercise/04.Students/node_modules
/09-HTTP and AJAX-Exercise/02.Messenger/node_modules
*.zip
/exam_preparation_1/03.Daily-Calorie-Counter/node_modules
